html{
    scroll-behavior: smooth;
}
body {
    background-color: #7a5224;
    overflow-x: hidden;
    margin: 0;
}
#home {
    position: absolute;
    margin-top: -10%;
    width: 100%;
    height: 2rem;
}
nav {
    width: 100%;
    height: 6rem;
    background-color: #43260a;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;
    z-index: 67;
}
ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
}
ul a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c0b0a5;
    transition: 0.4s ease;
    margin-top: 1.9%;
}
ul a:hover {
    margin-top: -0.4%;
}
ul a:hover li {
    border-bottom: 2px solid #fbf0d7;
    padding-bottom: 0.4rem;
}
li {    
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-family: "Walter Turncoat", cursive;
    font-weight: 400;
    font-style: normal;
    transition: 0.4s ease;
    border-bottom: 16px solid #ffe9b400;
    padding-bottom: 0.4rem;
}
#logo {
    width: 50%;
}
#logobtn {
    position: absolute;
    width: 7rem;
    height: 6rem;
    left: 0%;
    top: 0%;
    background-color: rgba(162, 255, 133, 0);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 67;
}

.first {
    background-image: url(sprites/campo\ de\ girabol.jpg);
    background-position-y: 40%;
    opacity: 0.7;
    width: 100%;
    height: 30rem;
    box-shadow: 0 2rem 5rem 1px #ceae5d;
    margin-top: 6rem;
}
.second {
    background-color: #fbf0d7;
    width: 100%;
    height: 50rem;
}
.second .sub1 {
    position: absolute;
    width: 50rem;
    height: 15rem;
    margin-top: 4rem;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.4s ease;
}
.second .sub2 {
    position: absolute;
    width: 50rem;
    height: 15rem;
    margin-top: 25.5rem;
    right: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.second h1 {
    font-size: 2.5rem;
    font-family: "Chango", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: -2%;
    color: #483223;
    z-index: 2;
}
.second p {
    font-family: "Cause", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 1.7rem;
    color:#6F4E37;
    z-index: 2;
}
.second .sub1 p {
    text-align: left;
    padding-left: 2rem;
}
.second .sub2 p {
    text-align: right;
    padding-right: 2rem;
}
.second .sub1 h1 {
    text-align: left;
    padding-left: 2rem;
}
.second .sub2 h1 {
    text-align: right;
    padding-right: 2rem;
}
.subhover {
    width: 100%;
    height: 0%;
    position: absolute;
    background-color: #eedeb1;
    z-index: 1;
    transition: 0.4s ease;
    opacity: 0.5;
}
.sub1 .subhover {
    border-left: 0.4rem solid #6F4E37; 
    top: 0;
}
.sub2 .subhover {
    border-right: 0.4rem solid #6F4E37; 
    top: 0;
}
.sub1:hover .subhover {
    height: 100%;
}
.sub2:hover .subhover {
    height: 100%;
}
#alvo {
    position: absolute;
    left: -45%;
    width: 10rem;
}
#escada {
    position: absolute;
    width: 14rem;
    right: -45%;
}
.third {
    width: 100%;
    height: 50rem;
    background-color: #43260a;
}
.third .sub1 {
    background-color: rgba(87, 60, 42, 0);
    position: absolute;
    width: 57rem;
    min-height: 18rem;  
    margin-top: 6rem;
    right: 45%;
    padding-left: 2.5rem;
    flex-shrink: 1;
}
.third h1 {
    font-size: 2.5rem;
    font-family: "Chango", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fbf0d7;
}
.third p {
    font-family: "Cause", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 1.7rem;
    color: #fbf0d7;
}
.third .sub1 h1 {
    margin: 0;
    margin-top: 2rem;
}
.third .sub1 p {
    text-align: left;
}
.sub-2{
    width: 90rem;
    height: 18rem;
    position: relative;
    left: 50%;
    top: 26rem;
    transform: translateX(-50%);
    transition: 0.6s ease-out;
}
.sub-2 div{
    width: 100%;
    height: auto;
    position: absolute;
    background-color:#4b2e14;
    padding: 0 40px 0 40px;
    border-radius: 15px;
}
.naho-text{
    opacity: 0;
    transition: 0.6s ease-out;
}
.derick-text{
    opacity: 0;
    transition: 0.6s ease-out;
}
.derick-text span{
    opacity: 0.7;
}
.shino-text{
    opacity: 0;
    transition: 0.6s ease-out;
}
#owner {
    position: absolute;
    width: 15rem;
    right: -55%;
    margin-top: 2rem;
    z-index: 3;
    border-radius: 50%;
    transition: 0.3s ease;
}
#naho {
    position: absolute;
    width: 14rem;
    right: -33%;
    margin-top: 2rem;
    z-index: 2;
    border-radius: 50%;
    transition: 0.3s ease;
}
#shino {
    position: absolute;
    width: 14rem;
    right: -75%;
    margin-top: 2rem;
    border-radius: 50%;
    z-index: 1;
    transition: 0.3s ease;
}
.third .sub1 img:hover{
    transform: scale(1.15);
    cursor: pointer;
}
#naho:hover{
    z-index: 3;
}
#shino:hover{
    z-index: 3;
}
#sobre {
    width: 100%;
    height: 1rem;
    position: absolute;
    top: 80rem;
}
#cardapio{
    width: 100%;
    height: 100rem;
    position: absolute;
    top: 130rem;
}
.cardapio{
    background-color: #fbf0d7;
    position: relative;
    width: 100%;
    height: 200rem;
}
.titulo-cardapio h1{
    margin: 0;
    padding: 0;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 6rem;
    letter-spacing: 0.15em;
    color: #2e1a06;
}
.titulo-cardapio img{
    position: absolute;
    width: 30rem;
    left: 50%;
    top: 4rem;
    transform: translateX(-50%);
}
.titulo-cardapio{
    position: absolute;
    left: 50%;
    top: 4rem;
    transform: translateX(-50%);
}
.cardContainer {
    border-radius: 10px;
    width: 105rem;
    position: absolute;
    left: 50%;
    top: 16%; 
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card {
    width: 25rem;
    height: 30rem;
    margin: 0;
    padding: 0;

    background-color: #fbf0d7;
    border: none;
    border-radius: 10px;

    perspective: 2800px;
}

.card:hover .card-inner {
    cursor: pointer;
    box-shadow: 0 0 20px 0 #2e1a067e;
}

.card-inner {
    position: relative;

    width: 100%;
    height: 100%;

    border-radius: 10px;

    transform-style: preserve-3d;
    transition: transform 0.5s ease;
}

.card-inner.flipped {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    border-radius: 10px;

    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.card-front {
    background-color: #43260a;
    transform: rotateY(0deg);
}

.card-back {
    background-color: #43260a;
    transform: rotateY(180deg);
}
.imgdiv { 
    background-color: #674627; 
    width: 100%; 
    height: 70%; 

    display: flex; 
    justify-content: center; 
    align-items: center;

    border-radius: 10px 10px 0 0;
    overflow: hidden;
}
.card-front img{
    height: 80%;
    transition: 0.2s ease;
}
.card:hover img{
    height: 95%;
}
.card-front p{
    font-family: "Cause", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 1.7rem;
    color:#fbf0d7;
    text-align: left;   
    margin-left: 1rem;
}
.card-back p{
    font-family: "Cause", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 1.7rem;
    color:#fbf0d7;
    text-align: left;   
    margin-left: 1rem;
}

/* dropdown menu -------- */

#dropdownTrigger {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

#dropdownContainer {
    right: 5vh;
    position: absolute;
    display: inline-block;

    top: 50%;
    transform: translateY(-50%);
}

#dropdownTrigger img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%; 

}

#dropdownMenu {
    display: none;
    position: absolute;
    right: 0;
    

    background-color: #fbf0d7;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    overflow: hidden;
    z-index: 1000;
    transform-origin: top;
}

#dropdownMenu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #43260a;
    font-family: "Cause", cursive;
    font-optical-sizing: auto;
}

#dropdownMenu a:hover {
    background-color: #fddb82;
}

#dropdownMenu.open{
    display: block;
    animation: dropdownOpen 0.3s ease-out;

}


@keyframes dropdownOpen {
    from {

        clip-path: inset(0 0 100% 0);
    }

    to {
  
        clip-path: inset(0 0 0 0);
    }
}
